@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
   font-family:  'Fira Sans', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh ;
    background-color: #FFFAD7;
}
.container{
    width: 700px;
    background-color: #FFE4A7;
    border-radius: 20px;
    padding: 20px;
}
.box{
    border-radius: 20px;
    border: 1px solid #FF90BB;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 15px 20px;
}
.texts textarea{
height: 250px;
width: 100%;
border: none;
outline: none;
font-size: 20px;
border-radius: 10px;
background: none;
padding: 10px 15px;
resize: none;
}
.texts{
    display: flex;
    border: 2px dashed #FFFAD7;
    border-radius: 25px;
}
.texts .from-text{
    border-right: 3px dashed #FFFAD7;
    border-radius: 0;
}
button{
    background-color: #555555;
    border: none;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    transition-duration: .4s;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color: black;

}
select{
    background-color:#FFFAD7 ;
    font-size: 20px;
    border: none;
}
.controls, .controls li, .icons, .icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls .icons i {
    width: 40px;
    color: #7F8487;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.controls .icons {
    width: 35%;
}

ul {
    list-style: none;
    padding: 12px 15px;
}